* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 24px;
    height: 1200px;
}

.parent-element {
    position: relative;
    top: 10px;
    background-color: lightcoral;
    padding: 25px;
}

.main-element {
    background-color: lightblue;
    padding: 10px;
    position: sticky;
    top: 15px;
    left: 300px;
}

.sibling-element {
   /* position: absolute;
    top: 0;
    right: 0; */
    background-color: lightgoldenrodyellow;
    padding: 10px;
}

.to_top {
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    background-color: darkcyan;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    border-radius: 50px;
    position: fixed;
    bottom: 25px;
    right: 25px;
}

.wrapper {
    position: relative;
    /* top: 3px; */
}

.box1 {
    position: relative;
    border: dashed;
    height: 100px;
    background-color: lightsalmon;
    z-index: 1;
}

.box2 {
    position: absolute;
    background-color: lightslategray;
    width: 80%;
    top: 25px;
    left: 60px;
    z-index: 3;
}

.box3 {
    position: absolute;
    background-color: lightgreen;
    width: 25%;
    left: 65%;
    top: -30px;
    height: 80px;
    opacity: .8;
    z-index: 2;
}

/*** MODAL ***/

/*** Modal header ***/

.modal-header {
    padding: 5px 15px;
    background-color: darkblue;
    color: #fff;
}

/*** Modal body ***/

.modal-body {
    padding: 5px 15px;
}

/*** Modal footer ***/

.modal-footer {
    padding: 5px 15px;
    background-color: aquamarine;
    color: darkgreen;
}

/*** Modal content ***/

.modal-content {
    position: relative;
    background-color: blanchedalmond;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #000;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);

}

.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.close {
    color: #333;
    position: absolute;
    top: -2%;
    right: 1%;
    transition: all .3s;
}

.close:hover {
    color: lawngreen;
    cursor: pointer;
}








/*
hr {
    margin: 25px 0;
}

div:nth-child(1) {
    background-color: lightslategray;
}

div:nth-child(2) {
    background-color: lightseagreen;
}

div:nth-child(3) {
    background-color: lightsteelblue;
    font-size: 25px;
}

li:nth-child(3n-1) {
    background-color: lightblue;
}

*/

